body {
    background-color: rgb(126, 52, 126); 
    color: #ffffff; 
    padding: 20px;
    margin: 0 auto;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #01000a;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

header {
    color: black; 
    font-size: 3rem; 
    text-align: center;
    font-weight: bold; 
    margin-bottom: 20px; 
}

.name {
    color: rgb(255, 255, 255); 
    font-size: 2rem; 
    margin-bottom: 10px; 
}

h3 {
    color: black;
    background-color: #f4f4f4;
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 10px;
}
